@use "@styles/variables.scss" as *;

.error-section {
  margin-bottom: $space-xs;
  border: 1px solid var(--destructive-a30);
  border-radius: $radius-lg;
  padding: $md;
  background-color: var(--destructive-a10);
}

.error-container {
  display: flex;
  flex-direction: column;
  gap: $sm;
}

.error-span {
  color: var(--destructive);
}