@use "@styles/variables.scss" as *;

.container {
  position: fixed;
  inset: 0;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  
  $blur: blur(0.2rem);
  -webkit-backdrop-filter: #{$blur};
  backdrop-filter: #{$blur};
  z-index: -10;
}

.fixed-window-modal {
  position: relative;
  box-sizing: border-box;
  background-color: var(--neutral);
  color: var(--neutral-foreground);
  --_margin: 0px;
  max-width: calc(100% - var(--_margin));
  max-height: calc(100% - var(--_margin));
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.fixed-window-modal > * {
  flex: 0 0 100%;
}

.scroll-window {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
} 

.margin-xs {
  --_margin: #{$space-xs};
}

.margin-s {
  --_margin: #{$space-sm};
}

.margin-m {
  --_margin: #{$space-md};
}

.margin-l {
  --_margin: #{$space-lg};
}

.margin-xl {
  --_margin: #{$space-xl};
}

.content-size {
  width: fit-content;
  height: fit-content;
}

.full-size {
  width: calc(100% - var(--_margin));
  height: calc(100% - var(--_margin));
}

.horizontal-size {
  width: calc(100% - var(--_margin));
}

.vertical-size {
  height: calc(100% - var(--_margin));
}

.padding-xs {
  padding: $md;
}

.padding-s {
  padding: $space-xxs;
}

.padding-m {
  padding: $space-xs;
}

.padding-l {
  padding: $space-sm;
}

.padding-xl {
  padding: $space-md;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: $sm;
}
