@use "@styles/variables.scss" as *;

.error-container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-a30);
  backdrop-filter: blur(0.3rem);
}

.hide-error {
  display: none;
}

.error-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--warning-a30);
  background-color: var(--warning-a20);
  border-radius: $radius-sm;
  padding: $space-xs $space-sm;
}

.title {
  display: flex;
  align-items: center;
  font-size: $font-l;
  gap: $xs;
}

.message {
  display: flex;
  align-items: center;
  color: var(--warning);
  margin-block: calc($space-xs * 0.75);
  font-size: $font-md;
}

.actions {
  display: flex;
  gap: $sm;
}

.actions .btn {
  border-radius: $xxs;
}