@use "sass:color";

/** Light colors **/
/******************/
$primary: hsl(210, 85%, 60%);
$secondary: hsl(180, 80%, 40%);
$accent: hsl(72, 100%, 65%);
$muted: hsl(210, 95%, 84%);
$destructive: hsl(0, 75%, 61%);
$warning: hsl(28, 85%, 67%);
$neutral: hsl(210, 60%, 98%);
$neutral-inverted: hsl(210, 16%, 9%);

/** Dark colors **/
/*****************/
$dark-primary: hsl(210, 90%, 65%);
$dark-secondary: hsl(180, 85%, 50%);
$dark-accent: hsl(72, 90%, 55%);
$dark-muted: hsl(210, 30%, 25%);
$dark-destructive: hsl(0, 70%, 55%);
$dark-warning: hsl(28, 95%, 67%);
$dark-neutral: hsl(210, 16%, 9%);
$dark-neutral-inverted: hsl(210, 60%, 98%);

@function foreground-color($value) {
  @if color.channel($value, "lightness", $space: hsl) > 50% {
    @return color.change($value, $lightness: 10%);
  }

  @return color.change($value, $lightness: 90%);
}

@function border-color($value) {
  @if color.channel($value, "lightness", $space: hsl) > 50% {
    @return color.adjust($value, $lightness: -20%);
  }

  @return color.adjust($value, $lightness: 20%);
}

@mixin generate-variants($name, $value) {
  --#{$name}: #{$value};
  --#{$name}-10: #{color.change($value, $lightness: 10%)};
  --#{$name}-20: #{color.change($value, $lightness: 20%)};
  --#{$name}-30: #{color.change($value, $lightness: 30%)};
  --#{$name}-40: #{color.change($value, $lightness: 40%)};
  --#{$name}-50: #{color.change($value, $lightness: 50%)};
  --#{$name}-60: #{color.change($value, $lightness: 60%)};
  --#{$name}-70: #{color.change($value, $lightness: 70%)};
  --#{$name}-80: #{color.change($value, $lightness: 80%)};
  --#{$name}-90: #{color.change($value, $lightness: 90%)};
  --#{$name}-a10: #{color.change($value, $alpha: 0.1)};
  --#{$name}-a20: #{color.change($value, $alpha: 0.2)};
  --#{$name}-a30: #{color.change($value, $alpha: 0.3)};
  --#{$name}-a40: #{color.change($value, $alpha: 0.4)};
  --#{$name}-a50: #{color.change($value, $alpha: 0.5)};
  --#{$name}-a60: #{color.change($value, $alpha: 0.6)};
  --#{$name}-a70: #{color.change($value, $alpha: 0.7)};
  --#{$name}-a80: #{color.change($value, $alpha: 0.8)};
  --#{$name}-a90: #{color.change($value, $alpha: 0.9)};
  --#{$name}-foreground: #{foreground-color($value)};
}

@mixin theme-colors($primary-value, $secondary-value, $accent-value, $muted-value, $neutral-value, $neutral-inverted-value, $destructive-value, $warning-value) {
  @include generate-variants("primary", $primary-value);
  @include generate-variants("secondary", $secondary-value);
  @include generate-variants("accent", $accent-value);
  @include generate-variants("muted", $muted-value);
  @include generate-variants("neutral", $neutral-value);
  @include generate-variants("neutral-inverted", $neutral-inverted-value);
  @include generate-variants("destructive", $destructive-value);
  @include generate-variants("warning", $warning-value);

  --border-primary: #{border-color($primary-value)};
  --border-secondary: #{border-color($secondary-value)};
  --border-accent: #{border-color($accent-value)};
  --border-muted: #{border-color($muted-value)};
  --border-neutral: #{border-color($neutral-value)};
  --border-destructive: #{border-color($destructive-value)};

  --gradient-primary: linear-gradient(110deg, #{$primary-value} 20%, #{$accent-value});
  --gradient-secondary: linear-gradient(110deg, #{$secondary-value} 20%, #{$primary-value});
  --gradient-accent: linear-gradient(110deg, #{$accent-value} 20%, #{$secondary-value});
  --gradient-text: linear-gradient(
    120deg,
      #{color.adjust($primary-value, $lightness: -18%)},
      #{$primary-value}
  );
  --gradient-text-inverted: linear-gradient(
    120deg,
    #{color.change($secondary-value, $lightness: 75%)},
    #{color.change($primary-value, $lightness: 55%)}
    );
  --gradient-text-secondary: linear-gradient(
      120deg,
      #{$secondary-value},
      #{color.adjust($secondary-value, $lightness: 28%, $hue: 8deg)}
    );
  --gradient-text-accent: linear-gradient(
      120deg,
      #{$accent-value},
      #{color.adjust($accent-value, $lightness: 24%)}
    );
  --gradient-card: linear-gradient(
    #{$neutral-value},
    #{color.adjust($neutral-value, $lightness: 4%, $saturation: -4%)}
  );
  
  --shadow-card: 0 10px 40px 0px #{color.change($accent-value, $alpha: 0.3)};
}

@mixin dark-mode {
  color-scheme: dark;
  @include theme-colors($dark-primary, $dark-secondary, $dark-accent, $dark-muted, $dark-neutral, $dark-neutral-inverted, $dark-destructive, $dark-warning);
}

@mixin light-mode {
  color-scheme: light;
  @include theme-colors($primary, $secondary, $accent, $muted, $neutral, $neutral-inverted, $destructive, $warning);
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-mode;
  }
}

:root[data-theme="light"] {
  @include light-mode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

:root[data-theme="dark"] {
  @include dark-mode;
}
