/* Fonts */
$secondary-font: "JetBrains Mono", monospace;
$primary-font: "Poppins", system-ui, sans-serif;
$font-xs: 1.2rem;
$font-s: 1.4rem;
$font-md: 1.6rem;
$font-l: 2.8rem;
$font-xl: 3.6rem;
$font-xxl: 5rem;
$line-height-s: 0.8;
$line-height: 1;
$line-height-l: 1.2;

/* Pixel Units */
$base: 0.4rem;
$xxs: $base;
$xs: calc($base * 2);
$sm: calc($base * 3);
$md: calc($base * 4);
$lg: calc($base * 6);
$xl: calc($base * 8);
$xxl: calc($base * 10);

/* Space Units */
$space-unit : $xxl;
$space-xxs: calc($space-unit / 2);
$space-xs: $space-unit;
$space-sm: calc($space-unit * 2);
$space-md: calc($space-unit * 4);
$space-lg: calc($space-unit * 6);
$space-xl: calc($space-unit * 8);
$page-padding: clamp($sm, 4vw, $xl);
$block-margin: $md;
$block-padding: $sm;

$radius-base: 1rem;
$radius-xxs: calc(#{$radius-base} - 12px);
$radius-xs: calc(#{$radius-base} - 8px);
$radius-sm: calc(#{$radius-base} - 4px);
$radius-md: $radius-base;
$radius-lg: calc(#{$radius-base} + 4px);
$radius-xl: calc(#{$radius-base} + 8px);
$radius-xxl: calc(#{$radius-base} + 12px);
$radius-round: 999rem;

$transition-smooth: cubic-bezier(0.4, 0, 0.2, 1);
$transition-spring: cubic-bezier(0.34, 1.56, 0.64, 1);

$grid-default-gap: $sm;
